/* copy from en7581_evb.dts */
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/thermal/thermal.h>

/dts-v1/;

#include "en7581_new_spi.dtsi"

/ {
	compatible = "econet,en7581", "airoha,en7581";
	#address-cells = <2>;
	#size-cells = <2>;

	
	leds {
		compatible = "gpio-leds";

		internet {
			label = "internet";
			gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		phy_tx_power_disable {
			label = "phy_tx_power_disable";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};
		power {
			label = "power";
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		usb2 {
			label = "usb2";
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		usb_0 {
			label = "usb_0";
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		voip_hook {
			label = "voip_hook";
			gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		voip_hook2 {
			label = "voip_hook2";
			gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		wps {
			label = "wps";
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		xponLos {
			label = "xponLos";
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		xponStatus {
			label = "xponStatus";
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
	};
	

	gpio0: gpio@1fbf0200 {
		compatible = "airoha,airoha-gpio";
		gpio_base = <0>;
		reg = <0x0 0x1fbf0204 0x0 0x4>,
		      <0x0 0x1fbf0200 0x0 0x4>,
		      <0x0 0x1fbf0220 0x0 0x4>,
		      <0x0 0x1fbf0214 0x0 0x4>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio1: gpio@1fbf0270 {
		compatible = "airoha,airoha-gpio";
		gpio_base = <32>;
		reg = <0x0 0x1fbf0270 0x0 0x4>,
		      <0x0 0x1fbf0260 0x0 0x4>,
		      <0x0 0x1fbf0264 0x0 0x4>,
		      <0x0 0x1fbf0278 0x0 0x4>;
		gpio-controller;
		#gpio-cells = <2>;
	};
	
	pwm: pwm@1fbf0234{
		compatible = "airoha,airoha-pwm";
		reg = <0x0 0x1fbf0234 0x0 0x20>,
		      <0x0 0x1fbf0268 0x0 0x4>,
		      <0x0 0x1fbf0298 0x0 0x24>;
	};
	
	gpio@1fbf0224 {
		compatible = "econet,ecnt-gpio";
		reg =
			/* LED Display*/
			<0x0 0x1fbf0218 0x0 0x08>,
			/* SGPIO */
			<0x0 0x1fbf0224 0x0 0x10>,
			/* flash mode*/
			<0x0 0x1fbf0234 0x0 0x2C>,
			<0x0 0x1fbf0268 0x0 0x4>,
			/* GPIO INT*/
			<0x0 0x1fbf0208 0x0 0x0C>,
			<0x0 0x1fbf027C 0x0 0x1C>,
			/* PWM */
			<0x0 0x1fbf0298 0x0 0x28>;
	};
	
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		
		reset_ {
			label = "reset_";
			linux,code = <BTN_0>;
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};
		
		wifi_2g {
			label = "wifi_2g";
			linux,code = <BTN_2>;
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		};
		
		wifi_5g {
			label = "wifi_5g";
			linux,code = <BTN_3>;
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		};
		
		led_enable {
			label = "led_enable";
			linux,code = <BTN_1>;
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
		};
		
		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};
	};

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		bootloader@0 {
			label = "bootloader";
			reg = <0x00000000 0x00080000>;
		};
		tclinux@80000 {
			label = "tclinux";
			reg = <0x00080000 0x03200000>;
		};
		tclinux_slave@2880000 {
			label = "tclinux_slave";
			reg = <0x03280000 0x03200000>;
		};		
		rootfs_data@5080000 {
			label = "rootfs_data";
			reg = <0x06480000 0x00800000>;
		};
		art@de80000 {
			label = "art";
			//art is located in flash end. if reg offset != ffffffff, it represents the actual offset
			//else offset = flash_logic_size-reg_size(drivers/mtd/maps/tc3162-flash.c)
			reg = <0xffffffff 0x00380000>;
		};
	};



	partition-nor@1fa10000 {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		bootloader@0 {
			label = "bootloader";
			reg = <0x00000000 0x00080000>;
		};
		tclinux@80000 {
			label = "tclinux";
			reg = <0x00080000 0x1900000>;
		};
		rootfs_data@5080000 {
			label = "rootfs_data";
			reg = <0x1980000 0x400000>;
		};
	};

	i2c@1fbf8000 {
		compatible = "airoha,airoha-i2c";
		reg = <0x0 0x1fbf8000 0x0 0x65>;
		clock-frequency = <400000>;
	};
	
	i2c1@1fbf8100 {
		compatible = "airoha,airoha-i2c";
		reg = <0x0 0x1fbf8100 0x0 0x65>;
		clock-frequency = <400000>;
	};
	
	airoha_trng@1faa1000 {
	compatible = "airoha,airoha-trng";
	reg = <0x0 0x1faa1000 0x0 0xc04>;
	interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
	};
	
	thermal-zones {
		cpu_thermal: cpu-thermal {
			polling-delay-passive = <200>;
			polling-delay = <1000>;
			thermal-sensors = <&thermal_phy 0>;
			trips {
				cpu_passive: cpu-passive {
					temperature = <125000>;
					hysteresis = <0>;
					type = "passive";
				};
			};
			cooling-maps {
				map0 {
					trip = <&cpu_passive>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
                                                         <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
                                                         <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};
	thermal_phy: thermal_phy@1efbd000 {
		#thermal-sensor-cells = <0>;
		compatible = "airoha,en7581-thermal_phy";		
		reg = <0x0 0x1efbd000 0x0 0x0fff>; //ptp_thermal_ctrl
		int_name = "ptp_therm";
	};
	uart1: serial@1fbf0000 {
		compatible = "ns8250";
		reg = <0x0 0x1fbf0000 0x0 0x30>;
		reg-io-width = <4>;
		reg-shift = <2>;
		interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <1843200>;
		status = "okay";
	};


	spi_nand_ctrl: spi_nand@1fa10000 {
		compatible = "airoha,airoha-snand";
		reg = <0x0 0x1fa10000 0x0 0x140>,	//SPI Controller Base
			  <0x0 0x1fa11000 0x0 0x160>;	//NFI2SPI
		interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		flash_nand: flash@0 {
			compatible = "spi-nand";
			reg = <0>;
			spi-max-frequency = <50000000>;
			spi-tx-bus-width = <1>;
			spi-rx-bus-width = <2>;
			airoha,bmt;
		
		};
	};


	spi_nor_ctrl: spi_nor@1fa10000 {
		compatible = "airoha,airoha-snor";
		reg = <0x0 0x1fa10000 0x0 0x140>,	//SPI Controller Base
			  <0x0 0x1fa11000 0x0 0x160>;	//NFI2SPI
		interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		flash_nor: flash@1 {
			compatible = "jedec,spi-nor";
			reg = <0>;
			spi-max-frequency = <50000000>;
			spi-tx-bus-width = <1>;
			spi-rx-bus-width = <2>;
		
		};
	};
};
