

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "econet,en7581", "airoha,en7581";
	#address-cells = <2>;
	#size-cells = <2>;

	leds {
		compatible = "gpio-leds";

		internet {
			label = "internet";
			gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		phy_tx_power_disable {
			label = "phy_tx_power_disable";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "dsldev";
			default-state = "on";
		};
		phy_tx_ben {
			label = "phy_tx_ben";
			gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
			default-state = "on";
		};
		power {
			label = "power";
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
			default-state = "on";
		};
		usb2 {
			label = "usb2";
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		usb_0 {
			label = "usb_0";
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		voip_hook {
			label = "voip_hook";
			gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		wps {
			label = "wps";
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		wlan_2g {
			label = "wlan";
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		wlan_5g {
			label = "wlanRadio";
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		xponLos {
			label = "xponLos";
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		xponStatus {
			label = "xponStatus";
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
	};
	
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		
		reset_ {
			label = "reset_";
			linux,code = <BTN_0>;
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};
		
		wifi_2g {
			label = "wifi_2g";
			linux,code = <BTN_2>;
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		};
		
		wifi_5g {
			label = "wifi_5g";
			linux,code = <BTN_3>;
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		};
		
		led_enable {
			label = "led_enable";
			linux,code = <BTN_1>;
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
		};
		
		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};
	};
};
