

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "econet,en7523", "airoha,en7523";
	#address-cells = <1>;
	#size-cells = <1>;

	leds {
		compatible = "gpio-leds";

		internet {
			label = "internet";
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};
		phy_tx_power_disable {
			label = "phy_tx_power_disable";
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "dsldev";
			default-state = "on";
		};
		power {
			label = "power";
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		usb2 {
			label = "usb2";
			gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
			trigger-sources = <&xhci_hcd>;
			linux,default-trigger = "timer";
		};
		usb_0 {
			label = "usb_0";
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		voip_hook {
			label = "voip_hook";
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		wlan {
			label = "wlan";
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		wps {
			label = "wps";
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		xponLos {
			label = "xponLos";
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
		
		xponStatus {
			label = "xponStatus";
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};
	};
	
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		
		reset_ {
			label = "reset_";
			linux,code = <BTN_0>;
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};
		
		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		};
	};
};
