

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "airoha,an7583";
	#address-cells = <2>;
	#size-cells = <2>;
	
	leds {
		compatible = "gpio-leds";
		internet {
			label = "internet";
			gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		phy_tx_power_disable {
			label = "phy_tx_power_disable";
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "dsldev";
			default-state = "on";
		};
		voip_hook {
			label = "voip_hook";
			gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		wlan {
			label = "wlan";
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		wps {
			label = "wps";
			gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		xponLos {
			label = "xponLos";
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
		
		xponStatus {
			label = "xponStatus";
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "dsldev";
		};
	};
	
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		
		reset_ {
			label = "reset_";
			linux,code = <BTN_0>;
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		};
	};	
};