
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
/dts-v1/;
/ {
	compatible = "airoha,an7583";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;
	chosen { 
		bootargs = "root=/dev/mtdblock3 ro console=ttyS0,115200n8 earlycon init=/sbin/init";
		stdout-path = &uart1;
	};
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		atf-reserved-memory@80000000 {
			compatible = "econet,ecnt-atf-reserved-memory";
			no-map;
			reg = <0x0 0x80000000 0x0 0x50000>;
		};
		npu_reserved: npu_binary@84000000 {
			no-map;
			reg = <0x0 0x84000000 0x0 0x100000>;
		};
		optee_reserved: optee_os@8a800000 {
			no-map;
			reg = <0x0 0x8a800000 0x0 0x800000>;
		};

	};
	cpu_opp_table: opp-table {
		compatible = "operating-points-v2";
		opp-shared;

		opp-500000000 {
			opp-hz = /bits/ 64 <500000000>;
		};

		opp-550000000 {
			opp-hz = /bits/ 64 <550000000>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
		};

		opp-650000000 {
			opp-hz = /bits/ 64 <650000000>;
		};

		opp-7000000000 {
			opp-hz = /bits/ 64 <700000000>;
		};
		
		opp-7500000000 {
			opp-hz = /bits/ 64 <750000000>;
		};		
		
		opp-8000000000 {
			opp-hz = /bits/ 64 <800000000>;
		};		
		
		opp-8500000000 {
			opp-hz = /bits/ 64 <850000000>;
		};	

		opp-9000000000 {
			opp-hz = /bits/ 64 <900000000>;
		};		
		
		opp-9500000000 {
			opp-hz = /bits/ 64 <950000000>;
		};	

		opp-10000000000 {
			opp-hz = /bits/ 64 <1000000000>;
		};		
		
		opp-10500000000 {
			opp-hz = /bits/ 64 <1050000000>;
		};	

		opp-11000000000 {
			opp-hz = /bits/ 64 <1100000000>;
		};	

		opp-11500000000 {
			opp-hz = /bits/ 64 <1150000000>;
		};		
		
		opp-12000000000 {
			opp-hz = /bits/ 64 <1200000000>;
		};		

	};
	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};
		};
		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			operating-points-v2 = <&cpu_opp_table>;				
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
			#cooling-cells = <2>;
		};
		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x1>;
			operating-points-v2 = <&cpu_opp_table>;				
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
			#cooling-cells = <2>;
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x2>;
			operating-points-v2 = <&cpu_opp_table>;				
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
			#cooling-cells = <2>;
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x3>;
			operating-points-v2 = <&cpu_opp_table>;				
			enable-method = "psci";
			clock-frequency = <80000000>;
			next-level-cache = <&L2_0>;
			#cooling-cells = <2>;
		};
		L2_0: l2-cache0 {
			compatible = "cache";
		};
	};
	gic: interrupt-controller@09000000 {
		compatible = "arm,gic-v3";
		interrupt-controller;
		#interrupt-cells = <3>;
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0 0x09000000 0x0 0x20000>,
			  <0x0 0x09080000 0x0 0x80000>;
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_LOW>;
		its: gic-its@09020000 {
			compatible = "arm,gic-v3-its";
			msi-controller;
			#msi-cell = <1>;
			reg = <0x0 0x090200000 0x0 0x20000>;
		};
	};
	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <25000000>;
	};
	pmu {
		//compatible = "arm,armv8-pmuv3";
		compatible = "arm,cortex-a15-pmu";
		interrupts = <GIC_PPI 7 IRQ_TYPE_LEVEL_HIGH>;
	};
	npu@1e800000 {
		compatible = "econet,ecnt-npu";
		reg = <0x0 0x1e800000 0x0 0x80000>,		//NPU 512K SRAM for 7583
			  <0x0 0x1e900000 0x0 0x313000>;	//NPU  32K SRAM, registers
		memory-region = <&npu_reserved>;
		interrupts = <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 120 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 121 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 122 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 123 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 125 IRQ_TYPE_LEVEL_HIGH>, 	//mbox2host irq
			<GIC_SPI 134 IRQ_TYPE_LEVEL_HIGH>,	//npu timer0 wdog intr
			<GIC_SPI 135 IRQ_TYPE_LEVEL_HIGH>,	//npu timer1 wdog intr
			<GIC_SPI 136 IRQ_TYPE_LEVEL_HIGH>,	//npu timer2 wdog intr
			<GIC_SPI 137 IRQ_TYPE_LEVEL_HIGH>,	//npu timer3 wdog intr
			<GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>,	//npu timer4 wdog intr
			<GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>,	//npu timer5 wdog intr
			<GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>,	//npu timer6 wdog intr
			<GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>;	//npu timer7 wdog intr
	};
	apb_timer1: apb_timer1@1fbf0100 {
		compatible = "econet,ecnt-timer";
		reg = <0x0 0x1fbf0100 0x0 0x60>;
		interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 17 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 29 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 213 IRQ_TYPE_LEVEL_HIGH>;		
	};
	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x2 0x00000000>;
	};
	rbus@1fa00000 {
		compatible = "econet,ecnt-rbus";
		reg = <0x0 0x1fa00000 0x0 0x1000>;			//RBus Core
	};
	sram@1fa40000 {
		compatible = "econet,ecnt-sram";
		reg = <0x0 0x1fa40000 0x0 0x8000>,		//GDMP SRAM
			  <0x0 0x08000000 0x0 0x40000>,		//L2C SRAM (only for CPU internal access)
			  <0x0 0x1EFC0000 0x0 0x40000>,		//L2C SRAM (only for CPU/NPU/GDMA/SPI/Crypto/WOE external access via pbus)
			  <0x0 0x1E880000 0x0 0x40000>,		//L2C SRAM (only for CPU/NPU/HSDMA/PCIE external access via npu_rbus)
			  <0x0 0x1fbe3000 0x0 0x200>;		//I2C_SLAVE SRAM
	};
	scu@1fb00000 {
		compatible = "econet,ecnt-scu";
		reg = <0x0 0x1fb00000 0x0 0x960>,			//NP SCU
			  <0x0 0x1fa20000 0x0 0x360>,			//CHIP SCU
			  <0x0 0x1fa2FF30 0x0 0x10>;			//Rbus clk ctl for FPGA
				interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_HIGH>;			  
	};
	
	pcie0: pcie0@1fc20000 {
	  device_type = "pci";
		compatible = "ecnt,pcie0-ecnt";
		reg = <0x0 0x1fc20000 0x0 0x20000>;
		reg-names = "pcie-mac";
	  #address-cells = <3>;
	  #size-cells = <2>;
		interrupts = <GIC_SPI 39 IRQ_TYPE_LEVEL_HIGH>;  //23+16
		bus-range = <0x00 0xff>;
		ranges = <0x02000000 0 0x20000000 0x0 0x20000000  0 0x4000000>;
	    #interrupt-cells = <1>;
	    interrupt-map-mask = <0 0 0 7>;
	    interrupt-map = <0 0 0 1 &pcie_intc0 1>,
			    		        <0 0 0 2 &pcie_intc0 2>,
					            <0 0 0 3 &pcie_intc0 3>,
					            <0 0 0 4 &pcie_intc0 4>;
	    pcie_intc0: interrupt-controller {
	          	      interrupt-controller;
				            #address-cells = <0>;
				            #interrupt-cells = <1>;
			            };
	  };
	pcie1: pcie1@1fa92000 {
			device_type = "pci";
		compatible = "ecnt,pcie1-ecnt";
		reg = <0x0 0x1fa92000 0x0 0x1000>;
		reg-names = "pcie-mac";
			#address-cells = <3>;
			#size-cells = <2>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;  //24+16
		bus-range = <0x00 0xff>;
		ranges = <0x02000000 0 0x24000000 0x0 0x24000000  0 0x4000000>;
			#interrupt-cells = <1>;
			interrupt-map-mask = <0 0 0 7>;
			interrupt-map = <0 0 0 1 &pcie_intc1 1>,
			            		<0 0 0 2 &pcie_intc1 2>,
					            <0 0 0 3 &pcie_intc1 3>,
					            <0 0 0 4 &pcie_intc1 4>;
			pcie_intc1: interrupt-controller {
				            interrupt-controller;
				            #address-cells = <0>;
				            #interrupt-cells = <1>;
			            };
		};
#if 0
	pcie2: pcie2@1fc40000 {
		device_type = "pci";
		compatible = "ecnt,pcie-ecnt";
		reg = <0x0 0x1fc40000 0x0 0x20000>;
		reg-names = "pcie-mac";
		#address-cells = <3>;
		#size-cells = <2>;
		interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;  //25+16
		bus-range = <0x00 0xff>;
		ranges = <0x02000000 0 0x28000000 0x0 0x28000000  0 0x4000000>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0 0 0 7>;
		interrupt-map = <0 0 0 1 &pcie_intc2 1>,
				<0 0 0 2 &pcie_intc2 2>,
				<0 0 0 3 &pcie_intc2 3>,
				<0 0 0 4 &pcie_intc2 4>;
		pcie_intc2: interrupt-controller {
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <1>;
		};
	};
#endif
	wdma{    
    compatible = "en751221,wdma"; 
    reg = <0x0 0x1fa06000 0x0 0x400 >,
     			<0x0 0x1fa06400 0x0 0x400 >;    
    interrupts = <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>,   
      					 <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>,  
        				 <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>,  
        				 <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>,  
        				 <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>,  
        				 <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>; 
  };   
    
  wed{    
    compatible = "en751221,wed";    
    wed_num = <2>;
    pci_slot_map = <0>, <1>;
    reg = <0x0 0x1fa02000 0x0 0xb00 >,
     			<0x0 0x1fa02000 0x0 0xb00 >;    
    interrupts = <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>,   
     						 <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>; 
  };  
    
  wed2{    
    compatible = "en751221,wed2";    
    wed_num = <2>;
    pci_slot_map = <0>, <1>;
    reg = <0x0 0x1fa02000 0x0 0xb00 >,
     			<0x0 0x1fa03000 0x0 0xb00 >;    
    interrupts = <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>, 
       					 <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>;  
  };   
  
  wed_test{    
    compatible = "en751221,wed_test";    
    wed_num = <2>;
    reg = <0x0 0x1fa02b00 0x0 0x100 >,
     			<0x0 0x1fa03b00 0x0 0x100 >;    
  };   

	gdump@1fbf9000 {
		compatible = "econet,ecnt-gdump";
		reg = <0x0 0x1fbf9000 0x0 0x84>;	
	};
	
	trng@1faa1000 {
		compatible = "econet,ecnt-trng";
		reg = <0x0 0x1faa1000 0x0 0xc04>;
		interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;			
	};
	
	gdma@1fb30000 {
		compatible = "econet,ecnt-gdma";
		reg = <0x0 0x1fb30000 0x0 0x2b0>;
	};
	
	xsi@1fa04000 {
		compatible = "econet,ecnt-xsi";
		reg = <0x0 0x1fa08000 0x0 0x300>,	  //hsgmii ae
		      <0x0 0x1fa04000 0x0 0x300>,   //hsgmii pcie0
		      <0x0 0x1fa07000 0x0 0x300>,	  //hsgmii pcie1
		      <0x0 0x1fa05000 0x0 0x300>,	  //hsgmii usb
			  <0x0 0x1fa09000 0x0 0x300>;	  //eth usb
	};
	pbus_monitor@1fbe3400 {
		compatible = "econet,ecnt-pbus_monitor";
		reg = <0x0 0x1fbe3400 0x0 0xfc>;
	};
	
    uart2: serial@1fbf0300 {
        compatible = "econet,ecnt-uart2";
        reg = <0x0 0x1fbf0300 0x0 0x30>,
              <0x0 0x1fbe1000 0x0 0x7F>,
              <0x0 0x1fbf0600 0x0 0x30>,
              <0x0 0x1fbf0700 0x0 0x30>;
        interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_HIGH>,
                     <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>,
                     <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
                     <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>;
        //status = "disabled";
    };
	spi_ctrl: spi_controller@1fa10000 {
		compatible = "econet,ecnt-spi_ctrl";
		reg = <0x0 0x1fa10000 0x0 0x140>,		//SPI Controller Base
			  <0x0 0x00000000 0x0 0x1000>;		//SPI Controller auto read interrupt test
		interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
	};
	spi_spi2nfi: spi_spi2nfi@1fa11000 {
		compatible = "econet,ecnt-spi2nfi";
		reg = <0x0 0x1fa11000 0x0 0x160>;	//NFI2SPI
	};
	spi_ecc: spi_ecc@1fa12000 {
		compatible = "econet,ecnt-spi_ecc";
		reg = <0x0 0x1fa12000 0x0 0x150>;	//NFI ECC
	};
	frame_engine: frame_engine@1fb50000 {
		compatible = "econet,ecnt-frame_engine";
		reg = <0x0 0x1fb50000 0x0 0x2600>,	//FE + PPE
		      <0x0 0x1fb54000 0x0 0x4000>,	//QDMA
		      <0x0 0x1fb58000 0x0 0x8000>;	//SWITCH
		interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>, // QDMA LAN INT1 21+16
			           <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>, // QDMA LAN INT2 39+16
			           <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>, // QDMA LAN INT3 40+16
			           <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>, // QDMA LAN INT4 41+16
			           <GIC_SPI 38 IRQ_TYPE_LEVEL_HIGH>, // QDMA WAN INT1 22+16
			           <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>, // QDMA WAN INT2 42+16
			           <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>, // QDMA WAN INT3 43+16
			           <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>, // QDMA WAN INT4 44+16
			           <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>, // FE ERROR INTR 33+16
			           <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>, // PDMA INTR 48+16
				   <GIC_SPI 203 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR0 187+16
				   <GIC_SPI 204 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR1 188+16
				   <GIC_SPI 205 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR2 189+16
				   <GIC_SPI 206 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR3 190+16
				   <GIC_SPI 207 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR4 191+16
				   <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR5 192+16
				   <GIC_SPI 209 IRQ_TYPE_LEVEL_HIGH>, //TDMA INTR6 193+16
				   <GIC_SPI 210 IRQ_TYPE_LEVEL_HIGH>; //TDMA INTR7 194+16
	};
	
	ptp: 1588v2ptp@1fb5e000 {
		compatible = "econet,ecnt-1588v2ptp";
		reg = <0x0 0x1fb5e000 0x0 0xcc>, //[1]gsw_ptp
			<0x0 0x1fa09500 0x0 0x200>,  //[2]xfi_mac_ptp
			<0x0 0x1fa08500 0x0 0x200>;  //[3]xfi_mac_pon_ptp
		interrupts = <GIC_SPI 31 IRQ_TYPE_LEVEL_HIGH>,  //15+16 = 31  [1]gsw_ptp
				   <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>,   //49+16 = 65  [2]xfi_mac_ptp
				   <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>;  //131+16= 147 [3]xfi_mac_pon_ptp
	};
	
	spi_nor_flash: snor {
		compatible = "econet,ecnt-snor";
		spi-controller = <&spi_ctrl>;
	};
	nand_flash: nand@1fa10000 {
		compatible = "econet,ecnt-nand";
		spi-controller = <&spi_ctrl>;
		spi2nfi = <&spi_spi2nfi>;
		spi-ecc = <&spi_ecc>;
	};
	hsdma: dma-controller@1fa01800 {
		compatible = "econet,ecnt-hsdma";
		reg = <0x0 0x1fa01800 0x0 0x300>,
		<0x00000001 0x60000000 0x00000000 0x00200000>,
		<0x00000002 0x30000000 0x00000000 0x00200000>;
		interrupts = <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
		#dma-cells = <1>;
		dma-channels = <2>;
		dma-requests = <2>;
	};
	cpu_top@1efb0000 {
		compatible = "econet,ecnt-cpu_top";
		reg = <0x0 0x1efbc800 0x0 0x10>;			//CTRL
	};
	
	xpon_mac: xpon@1fb64000 {
		compatible = "econet,ecnt-xpon";
		reg = <0x0 0x1fb64000 0x0 0x3e8>,
			<0x0 0x1fb66000 0x0 0x704>,
			<0x0 0x1fb65000 0x0 0xFF8>;
		interrupts = <GIC_SPI 42 IRQ_TYPE_LEVEL_HIGH>, // XPON MAC INT 26+16
				       <GIC_SPI 34 IRQ_TYPE_LEVEL_HIGH>;// DYINGGASP INT 18+16
	};
	xhci_hcd: xhci@1fab0000 {
		compatible = "econet,ecnt-xhci";
		reg = <0x0 0x1fab0000 0x0 0x3e00>,      //MAC base address
			<0x0 0x1fab3e00 0x0 0x100>;     //IPPC base address
		interrupts = <GIC_SPI 33 IRQ_TYPE_LEVEL_HIGH>;
	};
	pon_phy: pon_phy@1faf0000 {
		compatible = "econet,ecnt-pon_phy";
		reg = <0x0 0x1faf0000 0x0 0x1fff>, // PON_PHY_ASIC_RG range
		      <0x0 0x1fa2ff24 0x0 0x4>,			// PON_PHY_FPGA_RG_TX_OFF
			  <0x0 0x1faf3000 0x0 0xfff>,			// PON_PHY_ASIC_RG range2
			  <0x0 0x1faf4000 0x0 0xfff>;		// PON_PHY_ASIC_RG range3
			  //<0x0 0x1fa84024 0x0 0x4>,                   // PON_PHY_ASIC_RG range4,only for xilinx_fpga
			  //<0x0 0x1fa84030 0x0 0x4>;                   // PON_PHY_ASIC_RG range5,only for xilinx_fpga
		//interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>; // XPON_PHY_INTR 27+16 move to common
	};
	pcm@bfbd0000 {
		compatible = "econet,ecnt-pcm";
		reg = <0x0 0x1fbd0000 0x0 0x4fff>;
		interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
	};
#if 1	
    pcie_phy: pcie_phy {
		compatible = "econet,ecnt-pcie_phy";		
	};
#endif

	common_phy: serdes_common_phy@1fa7e000 {
		compatible = "airoha,serdes_common_phy";
		reg = <0x0 0x1fc7F000 0x0 0xfff>,		//PCIEG3_PHY_ANA		
			  <0x0 0x1fc7E000 0x0 0xfff>,		//PCIEG3_PHY_PMA	
			  <0x0 0x1fa7F000 0x0 0xfff>,     	//xfi_ana_pxp
			  <0x0 0x1fa7E000 0x0 0xfff>,     	//xfi_pma
			  <0x0 0x1fa8F000 0x0 0xfff>,     	//pon_ana_pxp
			  <0x0 0x1fa8E000 0x0 0xfff>,   	//pon_pma
			  <0x0 0x1fa84000 0x0 0x685>,     //multi_sgmii, PON_PHY_ASIC_RG range4,only for xilinx_fpga, PON_PHY_ASIC_RG range5,only for xilinx_fpga
			  <0x0 0x1fa5f000 0x0 0xff>,   	//QPHY_PCIe_ana
			  <0x0 0x1fa5a000 0x0 0x3ff>,   	//QPHY_PCIe_dig
			  <0x0 0x1fa5e000 0x0 0x8ff>,   	//QPHY_PCIe_pma
			  <0x0 0x1fa6f000 0x0 0xff>,   	//QPHY_USB_ana
			  <0x0 0x1fa6a000 0x0 0x3ff>,   	//QPHY_USB_dig
			  <0x0 0x1fa6e000 0x0 0x8ff>;   	//QPHY_USB_pma
			  
		interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>; // XPON_PHY_INTR 27+16
		int_name = "common_int";
			  
	};
	
        p2l_usxgmii: p2l_usxgmii@1fc70000 {
		compatible = "airoha,air-pcie2l_usxgmii";
		reg = <0x0 0x1fc75900 0x0 0x334>,		//PCS mode1 range (xfi)
			  <0x0 0x1fc70a00 0x0 0x168>,		//PCS mode2 range (hsgmii) 
			  <0x0 0x1fc70000 0x0 0x64>,		//AN range
			  <0x0 0x1fc76000 0x0 0xff>,		//rate adaption range (xgmii) //<0x1fa76100 0x204>;		//rate adaption range (mii)
			  //<0x0 0x1fc7A000 0x0 0x171>,     //xfi_ana_pxp
			  <0x0 0x1fc74000 0x0 0x685>;     	//multi_sgmii
			  //<0x0 0x1fc7B000 0x0 0x95D>,     //xfi_pma			
			  //<0x0 0x1fa65900 0x0 0x334>,	    //PCS mode1 range (xfi)
			  //<0x0 0x1fa60a00 0x0 0x168>,		//PCS mode2 range (hsgmii) 
			  //<0x0 0x1fa60000 0x0 0x64>,		//AN range
			  //<0x0 0x1fa66000 0x0 0xff>,		//rate adaption range (xgmii) //<0x1fa76100 0x204>;		//rate adaption range (mii)
			  //<0x0 0x1fa64000 0x0 0x685>;     //multi_sgmii
			  //<0x0 0x1fa5C000 0x0 0x95D>;     //l2_xfi_pma
			
		interrupts = <GIC_SPI 151 IRQ_TYPE_LEVEL_HIGH>;	
		int_name = "p2l_usxgmii";
		int_id = <0>;
	};
	
	eth_usxgmii: eth_usxgmii@1fa70000 {
		compatible = "airoha,air-eth_usxgmii";
		reg = <0x0 0x1fa75900 0x0 0x334>,	//PCS mode1 range (xfi)
			  <0x0 0x1fa70a00 0x0 0x168>,		//PCS mode2 range (hsgmii) 
			  <0x0 0x1fa70000 0x0 0x64>,		//AN range
			  <0x0 0x1fa76000 0x0 0xff>,		//rate adaption range (xgmii) //<0x1fa76100 0x204>;		//rate adaption range (mii)
			  //<0x0 0x1fa7A000 0x0 0x171>,     //xfi_ana_pxp
			  <0x0 0x1fa74000 0x0 0x685>;     //multi_sgmii
			  //<0x0 0x1fa7B000 0x0 0x95D>;     //xfi_pma
			
		interrupts = <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>;
		int_name = "eth_usxgmii";
		int_id = <0>;
	};		
	xpon_usxgmii: xpon_usxgmii@1fa80000 {
		compatible = "airoha,air-xpon_usxgmii";
		reg = <0x0 0x1fa85900 0x0 0x334>,	//PCS mode1 range (xfi)
			  <0x0 0x1fa80a00 0x0 0x168>,		//PCS mode2 range (hsgmii) 
			  <0x0 0x1fa80000 0x0 0x64>,		//AN range
			  <0x0 0x1fa86000 0x0 0xff>;		//rate adaption range (xgmii) //<0x1fa76100 0x204>;		//rate adaption range (mii)
			  //<0x0 0x1fa8A000 0x0 0x171>,     //xfi_ana_pxp
			  //<0x0 0x1fa84000 0x0 0x685>;     //multi_sgmii
			  //<0x0 0x1fa8B000 0x0 0x95D>;     //xfi_pma
			
		//interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>;
		int_name = "xpon_usxgmii";
		int_id = <0>;
	};	
	sgmii_u0: sgmii_u0@1fa60000 {
		compatible = "airoha,air-usb_xgmii";
		reg = <0x0 0x1fa60a00 0x0 0x168>,	//0.pcs
			  <0x0 0x1fa60000 0x0 0x64>,		//1.AN
			  <0x0 0x1fa66000 0x0 0x364>,		//2.RA
			  <0x0 0x1fa64000 0x0 0x534>;		//3.multi sgmii
			  //<0x0 0x1fa6a000 0x0 0x401>,		//qp dig comboed
			  //<0x0 0x1fa6e000 0x0 0x848>;		//qp_pma comboed
			  //<0x0 0x1fa6f000 0x0 0x848>;		//qp_ana comboed
		//interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;	// usb_hsgmii INT 137+16
		int_name = "sgmii_usb0";
		int_id = <0>;               // usb always is 2
	};
	
	sgmii_p1: sgmii_p1@1fa50000 {
		compatible = "airoha,air-pcie1_xgmii";
		reg = <0x0 0x1fa50a00 0x0 0x168>,	//0.pcs
			  <0x0 0x1fa50000 0x0 0x64>,		//1.AN
			  <0x0 0x1fa56000 0x0 0x364>,		//2.RA
			  <0x0 0x1fa54000 0x0 0x534>;		//3.multi sgmii
			  //<0x0 0x1fa5a000 0x0 0x401>,		//qp dig comboed
			  //<0x0 0x1fa5e000 0x0 0x848>;		//qp_pma comboed
			  //<0x0 0x1fa5f000 0x0 0x848>;		//qp_ana comboed
		//interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_HIGH>;	// usb_hsgmii INT 137+16
		int_name = "sgmii_pcie1";
		int_id = <0>;               // usb always is 2
	};
	
	ipsec: ipsec@1fbfa000 {
		compatible = "econet,ecnt-ipsec";
		reg = <0x0 0x1fbfa000 0x0 0x268>;
		interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_HIGH>; // IPSEC_INTR 63+16
	};
	tod_gen: tod@1fbe2300 {
		compatible = "econet,ecnt-tod";
		reg = <0x0 0x1fbe2300 0x0 0xD0>;
		interrupts = <GIC_SPI 78 IRQ_TYPE_LEVEL_HIGH>; // TOD GEN INT 62+16
	};
	
	usb_phy: usb_phy@1fac0000 {
		compatible = "econet,ecnt-usb_phy";
		reg = <0x0 0x1fac0000 0x0 0x1400>;		
	};
	
	mmc0: mmc@1fa0e000 {
		compatible = "mediatek,mt7622-mmc";
		reg = <0x0 0x1fa0e000 0x0 0x1000>,
			  <0x0 0x1fa0c000 0x0 0x60>;
		interrupts = <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>;
		//clocks = <&pericfg CLK_PERI_MSDC30_0_PD>,
		//	 <&topckgen CLK_TOP_MSDC50_0_SEL>;
		//clock-names = "source", "hclk";
		//status = "disabled";
		bus-width = <4>;
		max-frequency = <52000000>; //FPGA: max value is host->src_clk_freq/2
									//ASIC: max value is 52MHz
		disable-wp;
		cap-mmc-highspeed;
		//mmc-ddr-3_3v;
		non-removable;
	};

	mdio: mdio-bus {
		compatible = "airoha,arht-mdio";
		phy13: phy@13 {		
			reg = <13>;
		};
		phy14: phy@14 {		
			reg = <14>;
		};
		phy15: phy@15 {		
			reg = <15>;
		};
		phy29: phy@29 {		
			reg = <29>;
		};
		phy31: phy@31 {		
			reg = <31>;
		};
	};
	
	olt_mac: olt_mac@1fbe4000 {
		compatible = "econet,ecnt-olt_mac";
		reg = <0x0 0x1fbe4000 0x0 0x4a4>;
		interrupts = <GIC_SPI 216 IRQ_TYPE_LEVEL_HIGH>; 
	};
	
	olt_phy: olt_phy@1fbe5000 {
		compatible = "econet,ecnt-olt_phy";
		reg = <0x0 0x1fbe5000 0x0 0x700>, // OLT_PCS_RG range
              <0x0 0x1fbe5800 0x0 0xc4>, // OLT_BCDR_RG range
              <0x0 0x1fbe5900 0x0 0x3c>; // OLT_BIST_RG range
		interrupts = <GIC_SPI 215 IRQ_TYPE_LEVEL_HIGH>; // OLT_PHY_INTR 199+16
	};
	
	avs_phy: avs_phy {
		compatible = "airoha,an7583-avs_phy";		
	};
	
};
